@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  @apply w-screen h-screen bg-gradient-to-t from-sky-200 to-sky-400;
}

::-webkit-scrollbar {
  @apply size-1 bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-800 hover:bg-blue-500;
}

body {
  @apply bg-zinc-950 text-white;
}

.hamburger-line {
  @apply w-[35px] h-[4px] rounded-full my-2 block;
}

.hamburger-active > span {
  @apply bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.home-content {
  @apply transition-opacity duration-300 opacity-100; /* Transisi opacity dengan durasi 0.5 detik */
}
.home-content-hidden {
  @apply transition-opacity duration-300 opacity-0;
}
