@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  @apply min-h-screen w-screen h-screen;
}

.siang {
  @apply bg-gradient-to-t from-sky-200 to-sky-400;
}

.malam {
  @apply bg-gradient-to-t from-[#020A2E] to-[#24487B];
}

::-webkit-scrollbar {
  @apply size-1 bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-800 hover:bg-blue-500;
}

body {
  @apply bg-zinc-950 text-white;
}

.hamburger-line {
  @apply w-[35px] h-[4px] rounded-full my-2 block;
}

.hamburger-active > span {
  @apply bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.home-content {
  @apply transition-opacity duration-300 opacity-100; /* Transisi opacity dengan durasi 0.5 detik */
}
.home-content-hidden {
  @apply transition-opacity duration-300 opacity-0;
}

:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4.1rem;
    scrollbar-width:none ;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  span{
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* absolute w-full h-[60%] bottom-0 left-0 bg-[#E1E7F5]/[.3] transform translate-y-36 flex items-center space-y-9 flex-col rounded-b-lg */

.kontener .boxcard {
  position: relative;
  overflow: hidden;
  display: flex;
}

.boxcard {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.boxcard .layercard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: #e1e7f54d;
  display: flex;
  gap: 45px;
  align-items: center;
  flex-direction: column;
  transform: translateY(100%);
  transition: .5s ease;
}

.boxcard:hover .layercard {
  transform: translateY(0);
}

.boxcard img {
  transition: .5s ease;
}

.boxcard:hover img {
  transform: scale(1.1);
}